ol[type="A"]{
    background-color: darkcyan;
    
}

ul[type="cricle"]{
    background-color: bisque;
}


a[target="_Blank"]{
    background-color: thistle;
}

#box{
    border: solid black 2px;
    padding: 20px;
    margin: 20px;
    
}

#box h1{
    border: solid black;
    background-color: brown;
    width: 200px;
}

#box p{
    background-color: beige;
}

.style{
    text-transform: lowercase;
    text-indent: 100px;
    text-decoration-style: dotted;
    font-size: 15px;
    font-style: oblique;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 40px;
font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.colors{
    font-size: 100px;
    background-color: #1a83c0;
    background-color: goldenrod;
    background-color: rgb(134, 55, 224);
    background-color: hsl(60deg, 30%, 80%);
    
}